.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 410px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 10px 5px 41px -17px black;

}

/* Image Header */
.card-image {
  width: 100%;
  height: 180px;
}

.card-img {
  width: 100%;
  height: 100%;
 
  
}


.card-content {
  padding: 18px;
  text-align: center;
  flex-grow: 1;
}

.card-content h1 {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.card-content p {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

/* Buttons */
.button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 18px 18px;
}

.btn {
  background-color: crimson;
  border-radius: 5px;
  padding: 6px 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.btn1 {
  background-color: rgb(55, 6, 231);
  border-radius: 5px;
  padding: 6px 10px;
  border: none;
  color: white;
  cursor: pointer;
}


.card-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
